<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{'/books/add-rev{isbn}'(isbn=${debuk.getIsbn()})}" th:method="POST">
  <div>
    <label for="score">Book isbn</label>
    <input type="number"
           id="score"
           name="score"
           required
           placeholder="Enter book score">
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text"
           id="description"
           name="description"
           required
           placeholder="Add review description">
  </div>
    <label for="date">Date of Review</label>
    <input type="datetime-local"
           id="date"
           name="date"
           placeholder="Enter date">
  </div>

  <button id="submit" type="submit">Submit</button>
  <a type="button" href="/books">Back</a>
</form>

</body>
</html>