<html>
<head>
  <meta charset="utf-8">
  <title>Add new Author to Book</title>
  <style type = "text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding:3px 2px;
    }
    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }
    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>

<header>
  <h1>Book title</h1>
  <h2 th:text="${debuk.getTitle()}"></h2>
</header>
<section>
  <h2>Reviews:</h2>
  <div th:each="rev : ${debuk.getReviews()}">
    <p>Score</p>
    <p th:text="${rev.getScore()}"></p>
    <p>Description</p>
    <p th:text="${rev.getDescription()}"></p>
    <p>Date of review</p>
    <p th:text="${#temporals.format(rev.getTimestamp(), 'dd-MM-yyyy HH:mm')}"></p>
  </div>
  <form  th:method="POST" th:action="@{'/books/filter-rev/{isbn}' (isbn=${debuk.getIsbn()})}">
    <input type="datetime-local"
           name="from"
           placeholder="Enter date from">
    <input type="datetime-local"
           id="date"
           name="to"
           placeholder="Enter date to">
    <button type="submit">Filter reviews</button>
  </form>
</section>

</body>
</html>